/** https://material-ui.com/customization/color/ **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: #14b8a6;
  --secondary: #7c3aed;
  --primary-dark: #115e59;
  --off-white: #f3f4f6;
  --white: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  margin: auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/** links **/
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;
}

.link-primary {
  background: var(--primary);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: var(--secondary);
  border-radius: 0.5rem;
  border: 1px solid var(--secondary);
}
.repl {
  color: var(--secondary);
  text-transform: lowercase;
}
.neoG {
  color: var(--secondary);
  text-transform: lowercase;
}

.navigation {
  background-color: var(--primary);
  color: var(--white);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation .active {
  font-weight: bolder;
}

.navigation .logo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--white);
  flex: 3 1 auto;
}

.navigation ul {
  flex: 2 1 auto;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

.navigation li {
  display: inline-block;
  padding: 0.5rem;
}

/** container **/
.container {
  padding: 4.5rem 1rem;
}

.container-center {
  max-width: 650px;
  margin: auto;
}

header {
  padding: 2rem 1rem 2rem 1rem;
}

header h1 {
  text-align: center;
  padding-top: 1rem;
  color: var(--primary);
}

header .link {
  color: var(--primary);
}

header .hero {
  border-radius: 2rem;
  max-width: 300px;
  height: auto;
  margin: auto;
  display: block;
}

.offWhite {
  background-color: var(--off-white);
}

section {
  padding: 2rem 1rem 2rem 1rem;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** footer **/

footer {
  background-color: var(--primary-dark);
  color: var(--white);
  display: flex;
}

.footer-wrapper {
  font-size: 2rem;
  width: 90%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-wrapper a {
  color: var(--white);
}

.footer-wrapper h3 {
  flex: 1 1 30rem;
}

.footer-wrapper ul {
  flex: 1 1 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-wrapper li {
  list-style: none;
}

/** Projects Page **/

.projects .date {
  margin-bottom: -0.5rem;
  font-size: 0.7rem;
}

img .pics {
  padding: 1rem;
}
